body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.conteiner{
  max-width: 800px;
  margin: 0 auto;
}

ul{
  list-style-type: none;
  padding: 0;
}
.content{
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(162, 89, 255, 0)), to(#7206ff))
}